<h3>Everything You need to know about ninjas:</h3>
<ul>
    <li>Ninjas cannot catch you if you are on fire. So just set yousrself on fire. You know, for protection.</li>
    <li>Ninjas cannot catch you if you already dead. And no, I'm not just trying to make their jobs easier. Give me some credit.</li>
    <li>Ninjas are invincible. Don't even try to put up a fight.</li>
    <li>...unless you are any superhero or Chuck Norris(also a superhero)</li>
    <li>Ninjas were often not very intelligent, maybe if you dressed in all black and made fighting noises a lot, they'll just assume yopu are one too. Worth a shot.</li>
</ul>